<div  id="collection_index">
	<%= render "transaction"%>
</div>

<script type="text/javascript">
  $(document).ready( function() {
  	$('body').on('click', '#collection_paginator a', function(){
      $.get(this.href, null, null, 'script');
	  return false;
    }) 
  })
</script>