<!-- subscription zone -->
<tr>
	<td style="background-color: #EDEFEC;" bgcolor="#EDEFEC" valign="top">
	<div style="font-size: 12px; line-height: 100%; font-family: Arial; color: #9a9a9a; text-align: left;" align="left">
		<p>
			Your have received this email because you signed up at lorious.com
		</p>
	</div></td>
</tr>
<!-- dark footer -->
<tr>
	<td style="background-color: #444444;" bgcolor="#444444" valign="top">
	<div style="font-size: 12px; line-height: 100%; font-family: Arial; color: #ffffff; text-align: left;" align="left">
		<table style="margin: 0; padding: 0;" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
			<tbody>
				<tr>
					<td align="left" valign="top">
					<table border="0" cellpadding="10" cellspacing="0" width="300">
						<tbody>
							<tr>
								<td style="padding: 10px 10px 0px;"><h3 style="border-bottom: 1px solid grey; font-size: 12px; font-weight: normal; margin: 0; padding: 0 0 5px;">ABOUT</h3></td>
							</tr>
							<tr>
								<td>
								<div style="font-size: 11px; line-height: 20px; font-family: Arial; color: #ffffff; text-align: left;" align="left">
									<b>Lorious</b> makes it easy to find, meet and get advice from the best tech experts via one-on-one video chat. <a style="color: #9ad07f; text-decoration: none;" href="">See how it works</a>.
									<br>
									<br>
									<b>Lorious</b>
									<br>
									3733 Spruce Street, Vance Hall #422
									<br>
									Philadelphia, PA 19104
								</div></td>
							</tr>
						</tbody>
					</table></td>
					<td align="left" valign="top">
					<table border="0" cellpadding="10" cellspacing="0" width="235">
						<tbody>
							<tr>
								<td style="padding: 10px 10px 0px;"><h3 style="border-bottom: 1px solid grey; font-size: 12px; font-weight: normal; margin: 0; padding: 0 0 5px;">LINKS</h3></td>
							</tr>
							<tr>
								<td>
								<div style="font-size: 11px; line-height: 20px; font-family: Arial; color: #9ad07f; text-align: left;" align="left">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td valign="top"><a style="color: #9ad07f; text-decoration: none;" href="#">How it works</a>
												<br>
												<a style="color: #9ad07f; text-decoration: none;" href="#">Jobs</a>
												<br>
												<a style="color: #9ad07f; text-decoration: none;" href="#">Press</a>
												<br>
												<a style="color: #9ad07f; text-decoration: none;" href="#">Blog</a>
												<br>
												<a style="color: #9ad07f; text-decoration: none;" href="#">Terms and Privacy</a>
												<br>
												<a style="color: #9ad07f; text-decoration: none;" href="#">support@lorious.com</a></td>
											</tr>
										</tbody>
									</table>
								</div></td>
							</tr>
						</tbody>
					</table></td>
				</tr>
			</tbody>
		</table>
	</div></td>
</tr>