Appointment Reminder: Your appointment for <%= @appointment.time.to_formatted_s(:long)%> scheduled to be completed.

<p><%= link_to "Click here to review the appointment.", new_expert_review_url(@appointment.expert.id, :appointment => @appointment.id) %></p>

Please email the administration staff to report any issue with the appointment or to report a no show.

If a no show is not reported within 24 hours of the appointment the credits from your account will automatically be 
disbursed from your account and transferred to the Experts account.

