<h1>Appointment Completed.</h1>
<p>Hi <%= @appointment.user.name %></p>

<p>	
	Your appointment with <%= @appointment.expert.name %> at <%= @appointment.time.to_formatted_s(:long)%> has been completed.!
</p>
<p>
	Please let us know how your appointment went by submitting a review <%= link_to "[here]", new_expert_review_url(@appointment.expert.id, :appointment => @appointment.id) %>.	
	Click here to set up your next appointment!
</p>
 
<p>
	If you had any issues with your appointment, don’t worry, you are covered by our 100% satisfaction guarantee policy. Please let us know when you review the appointment if you have any concerns.
	Your payment is being processed and will be transferred to the expert in about 36 hours, after which point we will be unable to refund the payment.	
</p>
 
<p>
	We hope you enjoyed your experience with Lorious! If you ever have any questions or thoughts, don't hesitate to contact me at support@lorious.com.	
</p>

<p>
Sincerely,<br />
Henry<br />
co-founder of Lorious<br />	
</p>

