<p>Appointment updated by <%= @edited_by.name %>, please check and confirm.</p>

<p><%= link_to "Confirm", expert_appointment_url(@expert.id, @appointment.id) %></p>
<p><%= link_to "Edit", edit_expert_appointment_url(@expert.id, @appointment.id) %></p>
