Appointment Reminder: Your appointment for <%= @appointment.time.to_formatted_s(:long)%> scheduled to be completed.

<p><%= link_to "Click here to review the appointment.", new_expert_review_url(@appointment.expert.id) %></p>


Click here to report a no show.

If a no show is not reported within 24 hours of the appointment the credits from your account will automatically be 
deducted from your account and transferred to the Experts account.

