%p
  Hi #{@to.name},
%p
  Your appointment with #{@appointment_with.name} has been confirmed for #{@appointment.time.in_time_zone(@appointment.time_zone).strftime("%A, %m/%d/%Y %I:%M %p %Z")}.
%p
  Please view the details of your appointment #{link_to "here", expert_appointment_url(@appointment.expert.id, @appointment.id)}.
  You can edit or cancel your appointment up to 8 hours before the scheduled start time.
- if @appointment.user == @to
  %p
    After that point Pranav D. will have reserved time especially for you so please do your best to be on time.
%p
  If you ever have any questions or thoughts, don't hesitate to contact me at support@lorious.com.
%p
  Sincerely,
  %br/
  Henry
  %br/
  co-founder of Lorious
  %br/
