<div>Hello <%= @invite.name %></div>
<div>Your invite request has been approved!</div>
<div>You can now start using Lorious</div>
<br/>
<div>Please follow the <a href="<%= @url %>">link</a> to make an account.</div>
