<p>New appointment</p>

<p>requested user: <%= @user.name %></p>
<p><%= link_to "Confirm", expert_appointment_url(@expert.id, @appointment.id), method: :post %></p>
<p><%= link_to "Edit", edit_expert_appointment_url(@expert.id, @appointment.id) %></p>
