%div
  Hello #{@expert.name}
%div Your request to become an Expert has been approved!
%div You can now start using Lorious
%br/
%div
  Please follow the #{link_to "link", users_url(anchor: "manage_card")} to make a Merchant account.
