
The following requests are recommended for you:

<% @requests.each do |r| %>
	<div>
		<h3><%= r.problem_headline %></h3>
		<h5> Tags: <%= r.skill_list %></h5>
		<p> <%= r.problem_description %> </p>
	</div>
	
<% end %>

<%= link_to "Click here to View all Requests", request_latest_url %>