<h1>Apply to be an Expert</h1>
<%= hidden_field_tag :current_step_index, 2 %>

Name Email prefilled

personal website

<div class="form-group row">
  <%= f.label :skills, class: "col-xs-2 control-label" %>
  <div class="col-xs-10">
    <%= f.select :skills, options_for_select(@available_skills), {}, multiple: "multiple", class: "chosen", "data-placeholder" => "Select your skills" %>
  </div>
</div>

<div class="form-group row">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit "Apply for Expert", class: "btn btn-default" %>
  </div>
</div>


Tell us about yourself (Feel free to keep it brief)
