<ul class="nav nav-pills pull-right">
  <li ng-repeat="prop in orderProps"
      ng-class="{active: orderedBy(prop)}">
    <a href ng-click="setOrder(prop)">
      {{ prop.name }}
      <span ng-show="orderedBy(prop)">
        <span ng-show="!settings.inverse">&#9660;</span>
        <span ng-show="settings.inverse">&#9650;</span>
      </span>
    </a>
  </li>
</ul>
<div class="clearfix"/>

<br/>

<div when-scrolled="load_data()" id="AngularCtrl" ng-controller="SearchDetailCtrl">

  <div ng-show="loading" class="cropcontainer" style="background-image:url('486.GIF'); " >&nbsp;</div>

  <div class="well">
    <h6 ng-show="experts.length == 0 && !loading">No results match your query</h6>
    <div ng:repeat="expert in experts | rating_filter:ratings | slider_filter:slider | orderBy:settings.orderProp.key:settings.inverse">
      <div class="row search-experts-list">
        <div class="col-md-3">
          <a ng-href="/{{expert.username}}">
            <img ng-src="{{expert.image.url}}" alt="..." class='img-circle search-avatar-small'>
          </a>
        </div>
        <div class="col-md-6">
          <h6><a ng-href="/{{expert.username}}">{{expert.name}}</a></h6>
          <p class="search-tag-line">{{expert.tag_line}}</p>
          <h6 class="search-skill-list">
            <span ng-repeat="skill in expert.skill_list | limitTo:2">
              <span class="label label-primary">{{skill}}</span>
            </span>
            <small class="search-show-all-skills-link" ng-show="expert.skill_list.length > 2">
              <a href ng-click="toggleTooltip(expert)" click-anywhere-but-here="hideAllTooltips()">
                see all
              </a>
              <div class="tooltip bottom in tooltip-light search-all-skills-tooltip" ng-show="expert.tooltipShown" click-anywhere-but-here="hideAllTooltips()">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">
                <span ng-repeat="skill in expert.skill_list">
                  <span class="label label-primary">{{skill}}</span>
                </span>
                </div>
              </div>
            </small>
          </h6>
        </div>
        <div class="col-md-3">
          <h6 class="text-center">{{expert.hourly_rate | currency:"$"}}</h6>
          <p class="text-center">per hour</p>
          <div class="text-center">
            <div class="star search-star", data-score="{{ expert.average_rating }}"></div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>

</div>
