<br />

<p class="text-right">Sort by:
	<select ng-model="orderProp">
	  <option value="">None</option>
	  <option value="first_name">Alphabetical</option>
	  <!--option value="age">Newest</option-->
	</select>	
</p>

<div when-scrolled="load_data()" id="AngularCtrl" ng-controller="SearchDetailCtrl" style="height: 600px; width:100%; overflow-y: scroll;">
	<div class="well" ng:repeat="expert in experts | rating_filter:ratings | slider_filter:slider | orderBy:orderProp"> 
		<div class="row">
			<div class="col-md-4">
				<br />
				<a href="#" class="thumbnail">
			      <img src="http://kalpataruhomeopathy.com/uploads/testimonials/thumbnails/150X150/no_user_thumbnail.png" alt="..." />
			      <!-- <img ng-src="{{expert.image.url}}" alt="..."> -->
			    </a>	
			    <h4 class="text-center">{{expert.hourly_rate | currency:"Cr."}}/hr.</h4>
			    
			</div>
  			<div class="col-md-8">
  				<h2> {{expert.first_name}} {{expert.last_name}}</h2>
  				<div>
				    <rating value="expert.average_rating" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
				    <span class="badge" ng-class="{'badge-warning': percent<30, 'badge-info': percent>=30 && percent<70, 'badge-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
				</div>	
				
  				<h4> {{expert.location}}</h4>
  				<span class="label label-primary" style="margin-right:10px;" ng-repeat="skill in expert.skill_list" >{{skill}}</span>
  				<br />
  				<div tooltip="{{expert.bio}}" style="margin-top:10px;">{{expert.bio | characters:300 :true}}</div>
  				<button type="button" class="btn btn-default btn-xs pull-right">
  					<a class="disabled" ng-href="/{{expert.username}}">More</a>	
  				</button>
			</div>
		</div>
	</div>
	
	<!--div ng-cloak>
		<div ng-show="filteredExperts.length == 0" class="jumbotron">
		  <div class="container">
		    <h3 class="text-center">No Search Results</h3>
		  </div>
		</div>
	</div-->
		
</div>

