<ul class="nav nav-pills pull-right">
  <li ng-repeat="prop in ['hourly_rate', 'average_rating']"
      ng-class="{active: orderedBy(prop)}">
    <a href ng-click="setOrder(prop)">
      {{ prop }}
      <span ng-show="orderedBy(prop)">
        <span ng-show="!settings.inverse">&#9660;</span>
        <span ng-show="settings.inverse">&#9650;</span>
      </span>
    </a>
  </li>
</ul>
<div class="clearfix"/>

<br/>

<div when-scrolled="load_data()" id="AngularCtrl" ng-controller="SearchDetailCtrl">
	
	<div ng-show="loading" class="cropcontainer" style="background-image:url('486.GIF'); " >&nbsp;</div>
	
	<div class="well">
    <div ng:repeat="expert in experts | rating_filter:ratings | slider_filter:slider | orderBy:settings.orderProp:settings.inverse">
      <div class="row search-experts-list">
        <div class="col-md-3">
          <a ng-href="/{{expert.username}}">
            <img ng-src="{{expert.image.url}}" alt="..." class='img-circle search-avatar-small'>
          </a>
        </div>
        <div class="col-md-6">
          <h6><a ng-href="/{{expert.username}}">{{expert.name}}</a></h6>
          <p class="search-tag-line">{{expert.tag_line}}</p>
          <h6>
            <span class="label label-primary">Ruby</span>
            <span class="label label-primary">Python</span>
          </h6>
          <!-- This might be helpful when there are some skills in the search results -->
          <!-- <ul class="list-unstyled tags" >
            <a ng-href="/search?keyword={{skill}}" ng-repeat="skill in expert.skill_list">
              <li class="highlighted small">
                {{skill}}
              </li>
            </a>
          </ul> -->
        </div>
        <div class="col-md-3">
          <h6 class="text-center">{{expert.hourly_rate | currency:"$"}}</h6>
          <p class="text-center">per hour</p>
          <div class="text-center">
            <rating value="expert.average_rating" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
            <span class="badge" ng-class="{'badge-warning': percent<30, 'badge-info': percent>=30 && percent<70, 'badge-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
          </div>
        </div>
      </div>
      <hr>
    </div>
	</div>
	
	<!--div ng-cloak>
		<div ng-show="filteredExperts.length == 0" class="jumbotron">
		  <div class="container">
		    <h3 class="text-center">No Search Results</h3>
		  </div>
		</div>
	</div-->
		
</div>

