%ul.nav.nav-pills.nav-stacked
  %li{:class => "#{@box == 'inbox' ? 'active' : 'none'}"}= link_to "Inbox", conversations_path(:box => "inbox")
  %li.divider
  %li{:class => "#{@box == 'sent' ? 'active' : 'none'}"}= link_to "Sent", conversations_path(:box => "sent")
  %li.divider
  %li{:class => "#{@box == 'trash' ? 'active' : 'none'}"}= link_to "Trash", conversations_path(:box => "trash")

