

<div ng-app='search' class='container' id='main'>
	<div id="AngularCtrl" ng-controller="SearchCtrl" class='row'>
		<div class="row">
			<div class="col-md-4">
				<br />
				<div class="input-group merged col-xs-9">
				    <span class="input-group-addon"><i class="icon-search"></i></span>
				    <input type="text" class="form-control" placeholder="Keyword" ng-model="query.$" />
				</div>
				
				<br />
				
				<!--input ng-model="query.first_name" /-->
			</div>
			<div class="col-md-8">
				<div ng-view></div>
			</div>
		</div>
	</div>
</div>

