

<div ng-app='search' class='container' id='main'>
	<div id="AngularCtrl" ng-controller="SearchCtrl" class='row'>
		<div class="row">
			<div class="col-md-4">
				<br />
				Search: <input ng-model="query.$" />
				<br />
				<hr />
				Name: <input ng-model="query.first_name" />
			</div>
			<div class="col-md-8">
				<div ng-view></div>
			</div>
		</div>
	</div>
</div>

