<h2>Subscriptions</h2>

<p>
	You currently receive mail updates about requests containing the following tags:
</p>
<div class="text-left">
	<%= simple_form_for current_user, url: users_path, method: :put do |f| %>
		<%= f.select :subscriptions, options_for_select(@available_skills, (current_user.subscription_list.split(",").first rescue [""]) ), {} ,  multiple: "multiple", class: "chosen", "data-placeholder" => "Select your tags" %>
		<div class="form-actions" style="margin-top: 5px;">
		    <%= f.button :submit, 'Update' , :class => "btn btn-primary text-right col-lg-offset-10"  %>
		</div>
	<% end %>
</div>

<script>
	$(function() {
		$(".chosen").chosen();
	});
</script>
