<div ng-app='requests' class='container wrapper'>

	<div ng-controller="RequestCtrl" class='row' style="width: 1200px;">
		
			<div class="col-xs-4">
				<br />
				<h3>Problem Type:</h3>
				<div class="input-group merged">
					<span class="input-group-addon"><i class="icon-search"></i></span>
					<select chosen multiple class="form-control" style="width: 100%;"
					data-placeholder="Problem Type"
					no-results-text="'Could not find Type'"
					ng-model="selectedProblems"
					ng-options="f for f in problems"></select>
				</div>

				<hr />
				<h3>TAG:</h3>
				<div class="input-group merged">
					<span class="input-group-addon"><i class="icon-search"></i></span>
					<select chosen multiple class="form-control" style="width: 100%;"
					data-placeholder="TAG"
					no-results-text="'Could not find TAG'"
					ng-model="selectedTags"
					ng-options="f for f in tags"></select>
				</div>

				<hr />

				<h3>Appt. Length (hrs)</h3>
				<div ng-init="slider=[0,5]" ui-slider="{range: true}" style="margin-left:5%; width: 50%;" min="0" max="5" step="0.5" use-decimals ng-model="slider"></div>

				<h4 class="text-left">Between {{slider[0] }} & {{slider[1] }} Hrs.</h4>
				<hr />

			</div>
			<div class="col-xs-8">
				<div class="pull-center" style="margin-top: 15px;">
					<a href="/requests/new" class="btn btn-primary pull-center">Create New Request</a>
				</div>
				<div class="pull-right" style="margin-bottom: 10px;">
					Sort by:
					<select ng-model="orderProp">
						<option value="">None</option>
						<option value="created_at">Date</option>
					</select>
				</div>
				
				<div when-scrolled="load_data()" style="height: 600px; width:100%; overflow-y: scroll;">
					<div ng-show="loading" class="cropcontainer" style="background-image:url('486.GIF'); " >&nbsp;</div>
					
					<div class="well" ng:repeat="request in requests | duration_filter:slider | orderBy:orderProp:reverse">
						<div class="row">
							<div class="col-xs-4">
								<br />
								<img ng-src="{{request.requester_image.image.url}}" class="img-circle search-avatar" alt="..." style="width: 175px; height:175px; margin-left: 20px;">
								<h4 class="text-center">{{request.requester_name}}</h4>
								<h4 class="text-center"><a target="_blank" ng-href="http://{{request.company_url}}">{{request.company_url | characters:20 :true}}</a></h4>
							</div>
							<div class="col-xs-8">
								<div style=" float: right;top: -20px; right: -4px; position: absolute;">
									<ul class="nav nav-pills nav-stacked">
										<li class="active">
											<a href="#"> <span class="badge pull-right">{{request.appt_length_in_words}}</span> <small>Time Requested:</small> </a>
										</li>
									</ul>
								</div>
								<h2 style="margin-top: 22px;"> {{request.problem_headline }}</h2>
								<ul class="list-unstyled tags" >
									<a href="#" ng-repeat="skill in request.skill_list">
										<li class="highlighted small">
											{{skill}}
										</li> 
									</a>
								</ul>
								<br />
								<div tooltip="{{expert.bio}}" style="margin-top:10px;">
									{{request.problem_description | characters:300 :true}}
								</div>

								<br />
								
								<div ng-show="request.requester_id != <%= current_user.id %>">
									<% if current_user.expert? %>
										<a style="color: inherit;" ng-href="/experts/<%= current_user.id %>/appointments/new?request_id={{request.id}}&user_id={{request.requester_id}}&duration={{request.appt_length}}" >
											<button class="message" class="btn btn-default btn-xs pull-right">
												<i class="icon-calendar"></i>
												Request new appointment
											</button>
										</a>
									<% end %>
									<button class="message pull-right" data-toggle="modal" href="#messageModal{{request.id}}">
										<i class="icon-envelope"></i>
										Respond to request
									</button>	
								</div>
								
							</div>
						</div>
						<!-- Modal Start -->
						<div aria-hidden="true" class="modal fade modalmessage" on-show id="messageModal{{request.id}}" role="dialog" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title"> Message {{request.requester_name}} </h4>
									</div>
									<div class="modal-body">
										<%= render 'message' %>
									</div>
									<div class="modal-footer">
										<p>
											Press ESC to Exit
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Modal End -->
					</div>
				</div>
			</div>
		
	</div>
</div>


