%ul.list-unstyled.social_links
  %li
    -if @social_links[:facebook]
      =link_to @social_links[:facebook], "data-href" => "/users/auth/facebook", class: "replaceable_link", target: "_blank" do
        %i.icon-facebook
        %a.social_media_remove{"data-id" => @social_media.find_by(name: "facebook").id, href: "#"}
          %span.glyphicon.glyphicon-trash Delete
    - else
      =link_to "/users/auth/facebook" do
        %i.icon-facebook.disabled &nbsp;Add
  %li
    -if @social_links[:linkedin]
      =link_to @social_links[:linkedin], "data-href" => "/users/auth/linkedin", class: "replaceable_link", target: "_blank" do
        %i.icon-linkedin
        %a.social_media_remove{"data-id" => @social_media.find_by(name: "linkedin").id, href: "#"}
          %span.glyphicon.glyphicon-trash Delete
    -else
      =link_to "/users/auth/linkedin" do
        %i.icon-linkedin.disabled &nbsp;Add
  %li
    -if @social_links[:twitter]
      =link_to @social_links[:twitter], "data-href" => "/users/auth/twitter", class: "replaceable_link", target: "_blank" do
        %i.icon-twitter
        %a.social_media_remove{"data-id" => @social_media.find_by(name: "twitter").id, href: "#"}
          %span.glyphicon.glyphicon-trash Delete
    -else
      =link_to "/users/auth/twitter" do
        %i.icon-twitter.disabled Add
  %li
    -if @social_links[:google]
      =link_to @social_links[:google], "data-href" => "/users/auth/google_oauth2?add_social=true", class: "replaceable_link", target: "_blank" do
        %i.icon-google-plus
        %a.social_media_remove{"data-id" => @social_media.find_by(name: "google_oauth2").id, href: "#"}
          %span.glyphicon.glyphicon-trash Delete
    -else
      =link_to "/users/auth/google_oauth2?add_social=true" do
        %i.icon-google-plus.disabled &nbsp;Add
  %li
    -if @social_links[:stackexchange]
      =link_to @social_links[:stackexchange], "data-href" => "/users/auth/stackexchange", class: "replaceable_link", target: "_blank" do
        %i.icon-stackexchange
        %a.social_media_remove{"data-id" => @social_media.find_by(name: "stackexchange").id, href: "#"}
          %span.glyphicon.glyphicon-trash Delete
    -else
      =link_to "/users/auth/stackexchange" do
        %i.icon-stackexchange.disabled &nbsp;Add
  %li
    -if @social_links[:github]
      =link_to "http://www.github.com", "data-href" => "/users/auth/github", class: "replaceable_link", target: "_blank" do
        %i.icon-github 
        %a.social_media_remove{"data-id" => @social_media.find_by(name: "github").id, href: "#"}
          %span.glyphicon.glyphicon-trash Delete
    -else
      =link_to "/users/auth/github" do
        %i.icon-github.disabled &nbsp;Add
  %li
    -if @social_links[:personal]
      =link_to current_user.website, target: "_blank" do
        %i.icon-link
    -else
      =link_to users_url(anchor: "profile") do
        %i.icon-link.disabled &nbsp;Add