.google_oauth2_login
  background: url("/assets/google_logo.png") no-repeat 0px 0px
  background-size: 30px 30px
  height: 30px
  padding-left: 35px
  display: inline-block
  color: #000
  font-size: 17px
  line-height: 24px
  
.mg-20
  margin-top: 20px
  margin-bottom: 20px
  
.chosen-container
  width: 100% !important
  
.datetimepicker
  width: 25%
  table.table-condensed
    width: 100% !important
    