<table class="table">
  <thead>
    <tr>
      <th>Request Headline</th>
      <th>Appointment Length</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.problem_headline %></td>
        <td><%= request.appt_length_in_words%></td>
        <td><%= request.created_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @requests.empty? %>
  <div>No New Request.</div>
<% end %>