.bottom-menu
  .container
    .row
      .col-md-2.navbar-brand
        =image_tag 'https://s3.amazonaws.com/lorious/layout/lorious_2color.svg', alt: "Lorious Logo.", width: '120px'
      .col-md-8
        %ul.bottom-links
          %li
            %a{href: "#fakelink"} About Us
          %li
            %a{href: "#fakelink"} Store
          %li.active
            %a{href: "#fakelink"} Jobs
          %li
            %a{href: "#fakelink"} Privacy
          %li
            %a{href: "#fakelink"} Terms
          %li
            %a{href: "#fakelink"} Follow Us
          %li
            %a{href: "#fakelink"} Support
          %li
            %a{href: "#fakelink"} Links
      .col-md-2
        %ul.bottom-icons
          %li
            %a.fui-pinterest{href: "#fakelink"}
          %li
            %a.fui-facebook{href: "#fakelink"}
          %li
            %a.fui-twitter{href: "#fakelink"}


/ .row
/   .col-xs-2.col-xs-offset-1.col-sm-2.col-sm-2-offset-1
/     %ul.list-unstyled{style: "padding-top:0px"}
/       %li
/         Lorious
/       %hr{style: "height:2px; visibility:hidden; margin: 0px 0px 0px 0px;"}
/       %li
/         %a{:href => "#"} About us
/       %li
/         %a{:href => "#"} Blog
/       %li
/         %a{:href => "#"} Contact us

/   .col-xs-2.col-sm-2
/     %ul.list-unstyled{style: "padding-top:0px"}
/       %li Connect
/       %hr{style: "height:2px; visibility:hidden; margin: 0px 0px 0px 0px;"}
/       %li
/         %a{:href => "https://www.facebook.com/pages/Lorious/357664217669583"}
/           %i.icon-facebook
/           Facebook
/       %li
/         %a{:href => "https://twitter.com/intent/user?screen_name=LoriousTweets"}
/           %i.icon-twitter
/           Twitter
/   .col-xs-7.col-sm-7.logo_legal
/     %ul.list-unstyled{style: "margin-bottom:0px; padding-top: 0px;"}
/       %li
/         %a{href: "/"}
/           =image_tag 'https://s3.amazonaws.com/lorious/layout/lorious_2color.svg', width: '120px'
/       %hr{style: "height:5px; visibility:hidden; margin: 0px 0px 0px 0px;"}

/       %li
/         %p.muted
/           © 2013 Lorious. All rights reserved.
/         %p.muted
/           =link_to("Terms of Service and Privacy Policy", "#")
