= javascript_include_tag "nav"

.iconbar#main-nav.hidden-xs
  %ul
    %li.active
      %a#home-button.fui-home{href: root_url, "data-toggle"=>"tooltip", "title"=>"Home", "data-placement"=>"right", "data-container"=>"body", "data-trigger"=>"hover"}
    %li
      %a#search-button.fui-search{href: search_path, "data-toggle"=>"tooltip", "title"=>"Search", "data-placement"=>"right", "data-container"=>"body"}
    / %li
    /   %a#requests-button.fui-document{href: request_latest_path, "data-toggle"=>"tooltip", "title"=>"Requests", "data-placement"=>"right", "data-container"=>"body"}
    -if current_user
      %li
        %a#calendar-button.fui-calendar{href: users_url(anchor: "appointment"), "data-toggle"=>"tooltip", "title"=>"Your Calendar", "data-placement"=>"right", "data-container"=>"body"}
          %span.iconbar-unread
            = current_user.pending_appointment_count.to_s rescue "0"
      %li
        %a#messages-button.fui-mail{href: conversations_url, "data-toggle"=>"tooltip", "title"=>"Your Messages", "data-placement"=>"right", "data-container"=>"body"}
          %span.iconbar-unread
            = current_user.mailbox.inbox(:read => false).count(:id, :distinct => true).to_s rescue "0"
      %li
        %a#gear-button.fui-gear{href: users_url, "data-toggle"=>"tooltip", "title"=>"Your Info and Settings", "data-placement"=>"right", "data-container"=>"body"}
    %li
      %a#help-button.fui-question{href: "#fakelink", "data-toggle"=>"tooltip", "title"=>"Help", "data-placement"=>"right", "data-container"=>"body"}
    -if current_user
      %li
        =link_to destroy_user_session_path, method: :delete, "data-toggle"=>"tooltip", "title"=>"Logout", "data-placement"=>"right", "data-container"=>"body", id: "logout-button" do
          %i.fui-power
    -else
      %li
        =link_to user_omniauth_authorize_url(:google_oauth2), "data-toggle"=>"tooltip", "title"=>"Sign In", "data-placement"=>"right", "data-container"=>"body", id: "signin-button" do
          %i.fui-user
      %li
        =link_to root_url, "data-toggle"=>"tooltip", "title"=>"Get Started", "data-placement"=>"right", "data-container"=>"body", id: "signup-button" do
          %i.fui-new

.container
  #main-header-xs.row.visible-xs
    .col-xs-12
      .col-xs-2.header-xs-logo
        %a{:href => "/"}
          =image_tag "https://s3.amazonaws.com/lorious/layout/lorious_logo_dark_grey.png", width: "90px"
      .col-xs-6.header-xs-links{style: "margin 0 auto;"}
        .btn-group.select.mbn
          %button.btn.btn-inverse.btn-sm.dropdown-toggle.clearfix.btn-info{"data-toggle" => "dropdown"}
            %span.filter-option.pull-left> Navigation
            \ 
            %span.caret
          %i.dropdown-arrow
          %ul.dropdown-menu{role: "menu", style: "overflow-y: auto; min-height: 108px;"}
            %li{rel: "0"}
              =link_to root_url, class: "opt" do
                %span.pull-left Home
            %li{rel: "1"}
              =link_to search_url, class: "opt" do
                %span.pull-left Search
            / %li{rel: "2"}
            /   =link_to request_latest_url, class: "opt" do
            /     %span.pull-left Requests
            .divider
            %li{rel: "3"}
              =link_to users_url(anchor: "appointment"), class: "opt" do
                %span.pull-left Appointments
            %li{rel: "4"}
              =link_to conversations_url, class: "opt" do
                %span.pull-left Messages
            %li{rel: "5"}
              =link_to users_url, class: "opt" do
                %span.pull-left Settings
            %li{rel: "6"}
              =link_to destroy_user_session_path, method: :delete, class: "opt" do
                %span.pull-left Logout
  #main-header.row.hidden-xs
    .col-lg-12.header-lg-center
      .col-sm-6.header-lg-logo
        %a{:href => "/"}
          =image_tag "https://s3.amazonaws.com/lorious/layout/lorious_logo_dark_grey.png", width: "110px"
      .col-sm-6.header-lg-links.pull-right
        %ul.list-unstyled
          -if current_user
            %li.pull-right
              %button.btn.btn-embossed.btn-primary Help
            %li.pull-right
              %button.btn.btn-embossed.btn-default About
            %li.pull-right
              =link_to "/#{current_user.username}" do
                %img.img-circle{:src => current_user.image_url, :style => "margin-right: 10px;", :height => "41px"}/
                %span{style:"text-transform: initial;"}=current_user.name
          -else
            %li.pull-right
              %button.btn.btn-embossed.btn-primary Start Free
            %li.pull-right
              =link_to user_omniauth_authorize_url(:google_oauth2) do
                %button.btn.btn-embossed.btn-default
                  Sign In


#side-searchbar.btn-group-vertical.hidden-xs.hidden-sm
  .form-group
    .input-group
      %input.form-control{:placeholder => "Search", :type => "text"}
        %span.input-group-btn
          %button.btn{:type => "submit"}
            %span.fui-search
  %br
  -if !(controller_name == "profiles" && action_name == "show")
    %h6.side-header Popular Topics
    =link_to "Business Dev", "/search?keyword=Business Dev", class: "button btn btn-sm btn-primary"
    =link_to "Web Development", "/search?keyword=Web Development", class: "button btn btn-sm btn-primary"
    =link_to "Web Design", "/search?keyword=Web Design", class: "button btn btn-sm btn-primary"
    =link_to "Project Management", "/search?keyword=Project Management", class: "button btn btn-sm btn-primary"
    =link_to "MVPs", "/search?keyword=MVPs", class: "button btn btn-sm btn-primary"
    =link_to "Getting Started", "/search?keyword=Getting Started", class: "button btn btn-sm btn-primary"
    =link_to "HTML", "/search?keyword=HTML", class: "button btn btn-sm btn-primary"
    =link_to "CSS", "/search?keyword=CSS", class: "button btn btn-sm btn-primary"
    =link_to "Ruby on Rails", "/search?keyword=Ruby on Rails", class: "button btn btn-sm btn-primary"
    / %button.btn.btn-sm.btn-primary{type: "button"} Django
    / %button.btn.btn-sm.btn-primary{type: "button"} Javascript
    / %button.btn.btn-sm.btn-primary{type: "button"} PHP
    / %button.btn.btn-sm.btn-primary{type: "button"} SQL
    / %button.btn.btn-sm.btn-primary{type: "button"} HTML
    / %button.btn.btn-sm.btn-primary{type: "button"} CSS
    / %button.btn.btn-sm.btn-primary{type: "button"} iOS
    / %br
    / %h6.side-header Latest Requests
    / %ul.list-unstyled.request-detail
    /   %li
    /     =link_to "#" do
    /       %strong Henry H.
    /       needs help with
    /       %span.label.label-primary Ruby on Rails
    /   %li
    /     =link_to "#" do
    /       %strong Henry H.
    /       needs help with
    /       %span.label.label-primary Ruby on Rails
    /   %li
    /     =link_to "#" do
    /       %strong Henry H.
    /       needs help with
    /       %span.label.label-primary Ruby on Rails
    /   %li
    /     =link_to "#" do
    /       %strong Henry H.
    /       needs help with
    /       %span.label.label-primary Ruby on Rails






/ %nav.navbar.navbar-fixed-top#navbar{role: "navigation"}
/   .navbar-header
/     %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
/       %span.icon-bar
/       %span.icon-bar
/       %span.icon-bar
/     %a.navbar-brand{:href => "/"}
/       =image_tag "https://s3.amazonaws.com/lorious/layout/lorious_logo_dark_grey.png", width: "110px"

/   .collapse.navbar-collapse.navbar-responsive-collapse
/     %ul.nav.navbar-nav
/       %li.active
/         %a{href: "#fakelink"} Products
/       %li
/         %a{href: "#fakelink"} Features
/         / %ul
/         /   %li
/         /     %a{href: "#fakelink"} Element One
/         /   %li
/         /     %a{href: "#fakelink"} Sub menu
/         /     %ul
/         /       %li
/         /         %a{href: "#fakelink"} Element One
/         /       %li
/         /         %a{href: "#fakelink"} Element Two
/         /       %li
/         /         %a{href: "#fakelink"} Element Three
/         /     / /Sub menu
/         /   %li
/         /     %a{href: "#fakelink"} Element Three
/       %li
/         %form.navbar-form.navbar-right{action: "#"}
/           .form-group
/             .input-group.input-group-sm
/               %input#navbarInput.form-control{placeholder: "Search", type: "search"}/
/               %span.input-group-btn
/                 %button.btn{type: "submit"}
/                   %span.fui-search
/         / /Sub menu
/     / /nav
/   / /.nav-collapse

