- flash.each do |key, message|
  .alert{class: "alert-#{flash_class(key)} fade in"}
    =message
    %a.close{href: "#", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;

.alert#js_notice{class: "alert-success fade", style: "display:none;"}
  %a.close{href: "#", "data-dismiss" => "alert", "aria-hidden" => "true"} &times;