/ This is the Footer Layout File for all mails that are sent including Mailboxer mails
/ subscription zone
%tr
  %td{:bgcolor => "#EDEFEC", :style => "background-color: #EDEFEC;", :valign => "top"}
    %div{:align => "left", :style => "font-size: 12px; line-height: 100%; font-family: Arial; color: #9a9a9a; text-align: left;"}
      %p Your have received this email because you signed up at lorious.com
/ dark footer
%tr
  %td{:bgcolor => "#444444", :style => "background-color: #444444;", :valign => "top"}
    %div{:align => "left", :style => "font-size: 12px; line-height: 100%; font-family: Arial; color: #ffffff; text-align: left;"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :style => "margin: 0; padding: 0;", :width => "100%"}
        %tbody
          %tr
            %td{:align => "left", :valign => "top"}
              %table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "300"}
                %tbody
                  %tr
                    %td{:style => "padding: 10px 10px 0px;"}
                      %h3{:style => "border-bottom: 1px solid grey; font-size: 12px; font-weight: normal; margin: 0; padding: 0 0 5px;"} ABOUT
                  %tr
                    %td
                      %div{:align => "left", :style => "font-size: 11px; line-height: 20px; font-family: Arial; color: #ffffff; text-align: left;"}
                        %b Lorious
                        makes it easy to find, meet and get advice from the best tech experts via one-on-one video chat.
                        = succeed "." do
                          %a{:href => "", :style => "color: #9ad07f; text-decoration: none;"} See how it works
                        %br/
                        %br/
                        %b Lorious
                        %br/
                        3733 Spruce Street, Vance Hall #422
                        %br/
                        Philadelphia, PA 19104
            %td{:align => "left", :valign => "top"}
              %table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "235"}
                %tbody
                  %tr
                    %td{:style => "padding: 10px 10px 0px;"}
                      %h3{:style => "border-bottom: 1px solid grey; font-size: 12px; font-weight: normal; margin: 0; padding: 0 0 5px;"} LINKS
                  %tr
                    %td
                      %div{:align => "left", :style => "font-size: 11px; line-height: 20px; font-family: Arial; color: #9ad07f; text-align: left;"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tbody
                            %tr
                              %td{:valign => "top"}
                                %a{:href => "#", :style => "color: #9ad07f; text-decoration: none;"} How it works
                                %br/
                                %a{:href => "#", :style => "color: #9ad07f; text-decoration: none;"} Jobs
                                %br/
                                %a{:href => "#", :style => "color: #9ad07f; text-decoration: none;"} Press
                                %br/
                                %a{:href => "#", :style => "color: #9ad07f; text-decoration: none;"} Blog
                                %br/
                                %a{:href => "#", :style => "color: #9ad07f; text-decoration: none;"} Terms and Privacy
                                %br/
                                %a{:href => "#", :style => "color: #9ad07f; text-decoration: none;"} support@lorious.com
